header{
    border-width: 5px;
    border-style: solid;
    border-color: aqua;

    padding: 20px; /*space on the inside*/
    margin: 10px; /*space on the outside*/
}

nav{
    background-color: teal;
    padding: 10px;
    
}

nav ul li {
    margin-left: 150px;
    font-size: 30px;
    display: inline;
    font-weight: 700;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    
}

section{
    border-width: 4px;
    border-style: solid;
    border-color: aqua;
    background-color: aliceblue;

    padding: 20px; /*space on the inside*/
    margin: 10px; /*space on the outside*/
}